.mg-b-0{
    margin-bottom:0;
}
.mg-b-5{
    margin-bottom:5px;
}
.mg-b-7{
    margin-bottom:7px;
}
.mg-b-10{
    margin-bottom:10px;
}
.mg-b-15{
    margin-bottom:15px;
}
.mg-b-20{
    margin-bottom:20px;
}
.mg-b-25{
    margin-bottom:25px;
}
.mg-b-30{
    margin-bottom:30px;
}
.mg-b-40{
    margin-bottom:40px;
}
.mg-b-70{
    margin-bottom:70px;
}
.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.flout-left{
    float: left;
}
.overflowe-hidden{
    overflow: hidden;
}
